@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
.heading {
    font-family: "Roboto";
    text-align: center;
}
.thanksMsg {
    text-align: center;
    color: gray;
}

.btn {
    color: blue;
}
